<div style="margin-top: 10%">
    <ng-image-slider [images]="cardsCarousel" #nav></ng-image-slider>
</div>

<div style="margin-left: 10%; margin-right: 10%; margin-top: 5%;">
    <p>
        Juego de cartas basado en los Superhéroes de Marvel y
        los acontecimientos más relevantes ocurridos durante las diferentes sagas de comics.
    </p>
    
    <p>
        Cada jugador cuenta con un mazo de cartas repartidas al azar, 
        cada una de estas tiene un puntaje de poder asignado. Los jugadores tienen
        <b>máximo 60 segundos</b> para elegir una carta y apostarla en el tablero, luego de
        este tiempo las cartas serán reveladas y el jugador con la carta de poder
        mayor se quedará con las cartas de los demás oponentes. 
    </p>

    <p>
        El juego finaliza cuando uno de los jugadores logre quedarse con <b>todas las cartas</b>.
    </p>

    <p style="text-align: center;">
        <b>2-6 jugadores</b>.
    </p>

</div>

<div style="margin-left: 45%; margin-top: 5%">
    <button mat-raised-button color="primary">Jugar Ahora</button>
</div>
